{% extends "base.html" %}

{% block content %}
    <h3>Log In</h3>
    <hr>
    <div class="row">
        <div class="col">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_username">Username</label>
                        <input class="form-control" type="text" name="username" id="id_username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_password">Password</label>
                        <input class="form-control" type="password" name="password" id="id_password" required>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Teacher</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Student</label>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" value="login" class="btn btn-success">
                        <input type="hidden" name="next" value="">
                    </div>
                </div>
                  <br>
            </form>
        </div>
    </div>
{% endblock %}