{% extends 'base.html' %}

{% block content %}

<section style="margin: 1rem;">
    <div class="container">
        <div class="card bg-primary">
            <div class="card-body" style="color: white;">
                <div class="row">
                    <div class="col-3"><img style="border-radius:100%;"src="https://avatars0.githubusercontent.com/u/371368?s=460&v=4" width="100"alt=""></div>
                    <div class="col-8">
                        <h3>BEW 1.2 Authentication & Django</h3>
                        <h3>Instructor: Dani Roxberry</h3>
                    </div>
                    <div class="col">
                            <input style="margin-top:2rem;"  type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 1rem;"class="container">
            <div class="card bg-primary">
                <div class="card-body" style="color: white;">
                    <div class="row">
                        <div class="col-3"><img style="border-radius:100%;"src="https://avatars2.githubusercontent.com/u/71125?s=460&v=4" width="100"alt=""></div>
                        <div class="col-8">
                            <h3>CS 1.2 Data Structures</h3>
                            <h3>Instructor: Alan Davis</h3>
                        </div>
                        <div class="col">
                            <input style="margin-top:2rem;"  type="checkbox" name="" id="">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg mt-5">Submit Courses</button>
    </div>
</section>

</body>
{% endblock %}
