{% extends 'base.html' %}
{% block content %}
    <section style="margin: 5rem;">
        <h1>Current Assignments</h1>
        <div class="list-group">
                <a type="button" data-toggle="modal" data-target="#exampleModal" class="list-group-item list-group-item-action bg bg-success">
                    Make Wiki | 80/100 points
                </a>
                <button type="button"  data-toggle="modal" data-target="#exampleModal" class="list-group-item list-group-item-action bg-warning">
                    Spaceman | Grade not assigned
                </button>
                <button type="button" data-toggle="modal" data-target="#exampleModal" class="list-group-item list-group-item-action">
                    Django Tutorial | Due Monday May 16
                </button>
                <!-- Button trigger modal -->


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Assignment details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1>Spaceman</h1>
              <p>100 point assignment</p>
              <h1>Description</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iste deserunt nam iusto praesentium esse? Dolorum dolorem minus dignissimos sapiente
                   voluptas facere pariatur veritatis corrupti velit assumenda! Esse, velit reiciendis?</p>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>
    </section>
    
{% endblock %}
