{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'edit-assignment-page' assignment.id %}" role="button">Edit</a>
<a class="btn btn-primary" href="{% url 'assignment-delete-page' assignment.id %}"  role="button">Delete</a>


<br>

<h1>Name: </h1>  <h3><b>{{assignment.name}}</b></h3><br>

<h1>Type: </h1>  <h3><b>{{ assignment.assignment_type }}</b></h3><br>

<h4>Description: </h4>  <h3><b>{{ assignment.description }}</b></h3>

<br>
<br>

<a class="btn btn-warning" href="{% url 'grade-assignment-page' assignment.slug %}" role="button">Grade Assignment</a>

{% endblock %}