{% extends 'base.html' %}

{% block content %}
<section style="text-align: center; margin:3rem;">
   <h1>Enter attendance token</h1>
   <input type="text" name="" placeholder='enter token: ' id="">
   <a href="" class="btn btn-primary">Submit token</a>
</section>
    <footer style="background: #0FA3B1; color: white; ">
            <div class="container" style="padding: 1rem;">
                <div class="footer-row row">
                    <div class="col">
                        <h3>SCHOOLY</h3>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Assignments</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="">Add courses</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
        </div>
            <div class="copyright" style="background: rgb(9, 110, 119);">
                    <p>©2020  Schooly. All Rights Reserved.</p>
            </div>
        </footer>
{% endblock %}
