<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="Dani Roxberry <dani@makeschool.com>" />
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

        <!-- Bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <title>Schooly</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{% url dashboard-page %}">Schooly</a>
            <form class="form-inline ml-auto">
              {% if request.user.is_authenticated %}
                  <div class="text-white">Hello, {{ request.user.username }}</div>
                  <a href="{% url 'roster' %}" class="btn btn-warning ml-4">Roster</a>
                  <a href="{% url 'attendance' %}" class="btn btn-warning ml-4">Attendance</a>
                  <a href="{% url 'schecule' %}" class="btn btn-warning ml-4">Schedule</a>
                  <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>
              {% else %}
                  <a href="{% url 'about' %}" class="btn btn-warning ml-4">About</a>
                  <a href="{% url 'contact' %}" class="btn btn-warning ml-4">Contact</a>
                  <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Log In</a>
                  <a href="{% url 'signup-page' %}" class="btn btn-success ml-2">Sign Up</a>
              {% endif %}
            </form>
          </nav>
        <main role="main" class="container">
        </main>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
