{% extends 'base.html' %}

{% block content %}
<style>
* {
    font-family: 'Quicksand', sans-serif;
}
.footer-row ul>li{
    list-style-type: none;
}
.footer-row a{
    color: white;
}
.copyright{
    text-align: center;
    padding: 5px;
}

.hero-section{
    color:white;
    background: url('https://i.postimg.cc/MH440MKZ/image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    padding: 7rem;
}
.partners{
    background:rgb(237, 237, 237);
    padding: 1rem;

}
.partners img {width:120px; margin: 0;}
.works{
    padding: 1rem;

}
.whyUs{
margin: 3rem;
padding: 1rem;
}
.success-stories img{
    width:120px;
    border-radius:100%
}
.success-stories{
    margin:3rem;
    padding: 2rem;
}
.cards{
    border: .5px solid rgb(14, 66, 125);
    border-radius: 3px;
    margin:10px;
    padding: 5px;
}
.contact{
    margin: 3rem 10rem;
}
</style>

      <section class="contact">
          <div class="container">
            <h1 class="text-center">Contact Us</h1>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="password" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Message <i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
      </section>
{% endblock %}
