{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container">
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Course</th>
            <th scope="col">Instructor</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a type="button" data-toggle="modal" data-target="#exampleModal">{{ course.course_name }}</a></td>
            <td><a type="button" data-toggle="modal" data-target="#exampleModal">{{ course.course_teacher }}</a></td>
            <td><a type="button" data-toggle="modal" data-target="#exampleModal">{{ course.description }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Assignment details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1>BEW 1.2</h1>
              <p>Instructor: Dani Roxberry</p>
              <h1>Description</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iste deserunt nam iusto praesentium esse? Dolorum dolorem minus dignissimos sapiente
                   voluptas facere pariatur veritatis corrupti velit assumenda! Esse, velit reiciendis?</p>
​
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
</body>

{% endblock %}
