{% extends 'base.html' %}

{% block content %}
<style>
.footer-row ul>li{
    list-style-type: none;
}
.footer-row a{
    color: white;
}
.copyright{
    text-align: center;
    padding: 5px;
}
</style>


<section style="margin: 4rem;">
    <div class="row">
        <h1>Student Courses</h1>
        <button class="btn btn-success ml-auto">Add new course <i  style='margin-left: 3px;'class="fas fa-plus"></i></button>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            FEW 1.2 | Mitchell Hudson
        </li>
        <li class="list-group-item">
            MOB 1.5 | Dani Roxberry
        </li>
        <li class="list-group-item">
            DS 1.2 | Dan Morse
        </li>
    </ul>
</section>
{% endblock %}
