{% extends 'base.html' %}

{% block content %}
<body>
<section style="margin: 4rem;">
 
    <div style ="padding:1rem;"class="container">
            <div class="row mb-4">
                    <h1>Student Courses</h1>
                    <button class="btn btn-success ml-auto">Add new course <i  style='margin-left: 3px;'class="fas fa-plus"></i></button>
                </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Class</th>
                    <th scope="col">Active</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>BEW 1.2 | Dani Roxberry</td>
                    <td>Monday, Wednesday, and Friday</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>SPD 1.3 | Adam Braus</td>
                    <td>Tuesday and Thursday</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>CS 1.2 | Alan Davis</td>
                    <td>Saturday and Sunday</td>
                </tr>
                </tbody>
            </table>
        </div>
</section>
<footer style="background: #0FA3B1; color: white; ">
    <div class="container" style="padding: 1rem;">
        <div class="footer-row row">
            <div class="col">
                <h3>SCHOOLY</h3>
            </div>
            <div class="col">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Assignments</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="">Add courses</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
</div>
    <div class="copyright" style="background: rgb(9, 110, 119);">
            <p>©2020  Schooly. All Rights Reserved.</p>
    </div>
</footer>
</body>

{% endblock %}
