{% extends 'base.html' %}


{% block content %}

{{assignment.name}}<br>

{{ assignment.assignment_type }}<br>

{{ assignment.description }}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td href="#">{{ student.user.username }}</td>
        <td><input type="text" class="form-control" placeholder="Enter Grade"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{% url 'course-list' %}" role="button">Submit</a>



{% endblock %}