{% extends 'base.html' %}

{% block content %}
<section style="text-align: center; margin:3rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">FEW 1.2 Dani Roxberry| Grade: <p style="color:green; display: inline-block;">A</p></li>
        <li class="list-group-item">CS 1.2 Alan Davis | Grade: <p style="color:rgb(227, 162, 11); display: inline-block;">D</p></li>
        <li class="list-group-item">DS 1.4 Mitchell Hudson | Grade: <p style="color:green; display: inline-block;">B-</p></li>
        <li class="list-group-item">MOB 1.2 Adrianna | Grade: <p style="color:green; display: inline-block;">B</p></li>
      </ul>
</section>
    <footer style="background: #0FA3B1; color: white; ">
            <div class="container" style="padding: 1rem;">
                <div class="footer-row row">
                    <div class="col">
                        <h3>SCHOOLY</h3>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Assignments</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="">Add courses</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
        </div>
            <div class="copyright" style="background: rgb(9, 110, 119);">
                    <p>©2020  Schooly. All Rights Reserved.</p>
            </div>
        </footer>
</body>

</html>
{% endblock %}
