{% extends 'base.html' %}

{% block content %}
  {% if courses %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Teacher</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td href="#">{{ course.course_name }}</td>
          <td>{{ course.course_teacher }}</td>
          <td>{{ course.grade }}</td>
          <td><a class="btn btn-link" href="{% url 'course-detail-page' course.id %}" role="button">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-success" href="{% url 'course-create-page' %}" role="button">Add New Course</a>
  {% endif %}
{% endblock %}
