{% extends 'base.html' %}

{% block content %}

<h1>Hello world</h1>

total students: {{ total_students }}<br>

total teachers: {{ total_staff }}<br>

total courses: {{ total_courses }}


<style>
*{
    font-family: Quicksand;
}
.footer-row ul>li{
    list-style-type: none;
}
.footer-row a{
    color: white;
}
.copyright{
    text-align: center;
    padding: 5px;
}
.student-grid{
    background:#007aff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
section{
    /* -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75); */
}
.student-grid a{
    color:white;
    background:rgb(71, 71, 71);
    padding: 12px;
    width: 70%;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 0.8rem;
}
.student-grid a:hover{
    background: black;
    transition: ease .5s
}
</style>


    <h1 style="text-align: center;">Student Dashboard</h1>
    <section id='student-info' style="background: rgb(35, 35, 35); color:white; padding: 1rem; margin: 2rem;">
        <div class="row">
            <div class="col-3">
                <img style=" border-radius:100%; width: 80px;"src="https://yt3.ggpht.com/a/AGF-l7_k1lZ2v4ujHYzcZYiTXoBlnLsfsFrsGF1lBg=s288-c-k-c0xffffffff-no-rj-mo" alt="">
            </div>
            <div class="col-8">
                <h2>Cassady Campbell</h2>
                <h3>Track: Data Science</h3>
            </div>
        </div>
    </section>
    <section style="margin:2rem;">
        <div class="student-grid">
            <a href="{% url 'grades' %}">Grades</a>
            <a href="{% url 'attendance' %}">Attendance</a>
            <a href="{% url 'assignments' %}">Assignments</a>
            <a href="{% url 'add-class' %}">Add Class</a>

        </div>
    </section>

{% endblock %}
