{% extends 'base.html' %}

{% block content %}

<h1>Hello world</h1>

total students: {{ total_students }}<br>

total teachers: {{ total_staff }}<br>

total courses: {{ total_courses }}

<style>
*{
    font-family: Quicksand;
}
.footer-row ul>li{
    list-style-type: none;
}
.footer-row a{
    color: white;
}
.copyright{
    text-align: center;
    padding: 5px;
}
.student-grid{
    background:#007aff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 1rem;
}
section{
    /* -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75); */
}
.student-grid select{
    color:white;
    height: 80%;

    width: 60%;
    background:rgb(71, 71, 71);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 0.8rem;
}
.student-grid a:hover{
    background: black;
    transition: ease .5s
}
</style>

    <h1 style="text-align: center;">Student Dashboard</h1>
    <section id='student-info' style="background: rgb(35, 35, 35); color:white; padding: 1rem; margin: 2rem;">
        <div class="row">
            <div class="col-3">
                <img style=" border-radius:100%; width: 80px;"src="https://avatars2.githubusercontent.com/u/71125?s=460&v=4" alt="">
            </div>
            <div class="col-8">
                <h2>Alan Davis</h2>
                <h3>I Teach: Computer Science and Back-end</h3>

            </div>
        </div>
    </section>
    <section style="margin:2rem;">
        <div class="student-grid">
            <select onchange="location = this.value;">
                <option selected disabled>Grades</option>
                <option value="classes/grades.html"> CS 1.2 | Monday, Friday 9am-12pm</option>
                <option value="classes/grades.html"> CS 1.2 | Monday, Friday 12pm-3pm</option>
                <option value="classes/grades.html"> CS 1.2 | Tuesday, Thursday 9am-12pm</option>
            </select>
            <select  onchange="location = this.value;">
                    <option selected disabled>Attendance</option>
                    <option value="classes/attendance.html"> CS 1.2 | Monday, Friday 9am-12pm</option>
                    <option value="classes/attendance.html"> CS 1.2 | Monday, Friday 12pm-3pm</option>
                    <option value="classes/attendance.html"> CS 1.2 | Tuesday, Thursday 9am-12pm</option>
            </select>
            <select  onchange="location = this.value;">
                    <option selected disabled>Assignments</option>
                    <option value="classes/assignments.html"> CS 1.2 | Monday, Friday 9am-12pm</option>
                    <option value="classes/assignments.html"> CS 1.2 | Monday, Friday 12pm-3pm</option>
                    <option value="classes/attendance.html"> CS 1.2 | Tuesday, Thursday 9am-12pm</option>
            </select>

        </div>
    </section>

{% endblock %}
